@use "../utils/variables" as *;
@use "../utils/mixins";

/* Styles pour les éléments dans le mode sombre */
body.darkMode .menuHeader,
body.darkMode .tariffAmount,
body.darkMode .additionalInfo,
body.darkMode .menulink a,
body.darkMode .tariffItem,
body.darkMode .requis {
  background-color: $primary-dark;
  color: $primary-light;
}


.sectionToToggle,
.darkMode {
  border: none !important;
  background-color: $primary-dark;
  color: $primary-light;

}

.buttonDarkMode {
  border: none;
  background-color: rgba(240, 248, 255, 0);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.850);
  border-radius: 50%;
  height: fit-content;
  padding: 5px;
  order: 2;
}

.sunDarkMod,
.moodDarkMod {
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 0;

  img{

  }
}

@include mixins.desktop {
  .buttonDarkMode{
    order: 1;
  }
}