@use "../utils/variables" as *;
@use "../utils/mixins";

.section3 {

    overflow: hidden;
    background-color: $primary;
    min-width: 100vw;

    height: auto;
    padding: 6%;
}

/* Add your SCSS styles here */
.gites-rental {
    width: 100%;
    height: auto;
}

.title_card {
    letter-spacing: 2px;

    font-weight: 300;
    font-size: 1.5rem;
    padding: 0.7em;
    position: relative;
    text-align: center;
    color: $primary-light;
    margin-bottom: 6vw;
}

.title_card_card::after {
    content: "";
    position: absolute;
    bottom: -60%;
    left: 0;
    width: 88vw;
    height: 1px;
    /* Ajustez l'épaisseur de la ligne selon vos préférences */
    background-color: $primary-light;
    /* Couleur de la ligne */
}

.rental-image {
    margin-top: 18%;
    opacity: 1;
    transform: matrix(1, 0, 0, 1, 10, 1);
    width: 90%;
    height: 100%;
    padding-right: 10%;
}

.rental-card {
    text-align: left;
    line-height: 1.1;
    letter-spacing: 1vw;
    color: #000000b6;
    padding: 4%;
    left: 2%;
    font-weight: 300;
    margin: 1.7em;
    position: relative;
    background-color: rgba(225, 225, 225, 0.426);
    width: 93%;
    height: auto;
    margin-top: calc(-10% - 5%);
    overflow: hidden;
}

.textCardH2 {
    margin: 1em;
    text-align: left;


}

.textCard {
    letter-spacing: 0.2;
    text-align: start;
    font-size: 1em;
}

.linkCard {
    text-decoration: none;
    color: inherit;
}

@include mixins.tablet {
    .rental-card {

        line-height: 1.3;
        letter-spacing: .1vw;

        padding: 3%;
        position: relative;
        background-color: rgba(225, 225, 225, 0.5);
        max-width: 30em;
        margin-top: calc(6% - 19%);
        margin-left: calc(15% - 1%);
        left: 15%;
        overflow: hidden;
    }

    .rental-image {
        padding: 0%;
        height: 30vh;
        width: auto;

    }

}


@include mixins.desktop {
    .section3 {

        margin-top: 0%;
        padding: 2% 6% 7% 6%;
     
        height: auto;
    }

    .title_card {
        letter-spacing: .2em;
  
        padding: .1em;
        text-align: center;
        color: $primary-light;
        margin-bottom: 6vw;
    }

    .title_card::after {
        display: none;
    }

    .gites-rental {

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .imageGites {
        width: 33.33%;
      
        padding: 0 1em;
        /* Espacement entre les images */
        box-sizing: border-box;
        /* Inclut les bordures et le padding dans la largeur totale */
        flex: 0 0 auto;
        /* Empêche le rétrécissement des éléments flexibles */
    }

    .rental-image {
        width: 90%;
        height: auto;
        padding: 0;
        justify-content: space-between;
        margin-top: 0;
        opacity: 1;
        transform: matrix(1, 0, 0, 1, 10, 1);

    }

    .rental-card {
        margin-top: calc(-.9em - 13%);
        text-align: start;
        letter-spacing: 0;
        color: #000000b6;
        background-color: rgba(225, 225, 225, 0.5);
        width: 88%;
        height: auto;
        left: 2.7em;
        margin-left: calc(8% - 1%);
    }

    .textCardH2 {
        padding: 0.1em;

        font-size: 0.9rem;
    }

    .textCard {
        letter-spacing: 0;
        font-size: 0.7rem;
    }





}