@use "../utils/variables" as *;
@use "../utils/mixins";


.cards{
    width: 100vw;
}

.section3 {
    overflow: hidden;
    background-color: $primary;
    min-width: 100vw;
    padding-block: 2em;
    padding-inline: min(8vw, 4em);
    height: auto;

    .title_card {
        margin: 0;
        font-weight: 700;
        font-size: 1.7rem;
        position: relative;
        text-align: center;
        color: $primary-light;

        span{
            display: inline-block;
            width: 100%;

            &:first-child{
                color: rgba(255, 255, 255, 0.582);
            }
        }
    }

    .gites-rental {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-block: 4em;
        margin-inline-start: -1em;
        gap: 4em;

        .imageGites-wrapper{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            flex: 1 1 25%;
            min-width: 400px;
            max-width: 500px;

            @media screen and (max-width: 768px) {
                min-width: 100%;
            }

            .imageGites{
                position: relative;
                display: flex;
                max-width: 100%;
            }
            .rental-image {
                position: relative;
                width: 100%;
                height: auto;
                object-fit: cover;
                aspect-ratio: 16/9;
                overflow: hidden;
                border-radius: 3px;
            }
            
            .rental-card {
                position: absolute;
                bottom: -2em;
                right: - 2em;
                width: calc(100% - 2vw);
                height: auto;
                border-radius: 3px;
                padding: 1em;
                background-color: rgba(225, 225, 225, 0.426);

                .textCardH2 {
                    text-align: left;
                    // color: $primary-light;
                    font-weight: 700;
                    // text-shadow: 0 1px 1px rgba(0, 0, 0, 0.116);
                }
                
                .textCard {
                    letter-spacing: 0.2px;
                    text-align: start;
                    font-size: 1em;
                    color: #000000c5;
                }
                
                &_wrapperText{
                    padding-block: .5em;
                }

                .linkCard {
                    display: block;
                    width: fit-content;
                    font-weight: 500;
                    font-size: .9em;
                    color: $primary-light;
                    background-color:#1e55b3c2;
                    padding: 5px 10px;
                    border-radius: 3px;
                }
            }
            
        }
    }
    
}

@include mixins.tablet {
}


@include mixins.desktop {

}