@use "../utils/variables" as *;
@use "../utils/mixins";

.sectionIcon {
    max-width: calc(100% - 3vw);
    margin-inline: auto;
}

.icon-section {
    display: flex;
    justify-content: center;
    align-items: center;

}

.numberIcon {
    font-weight: bold;
    letter-spacing: 1px;
    padding: .4em;
    color: $primary;
}
.icon-wrapper {
    margin: 0 1rem;
}

.icon-wrapper .icons {
    width: 1.5em;
    height: auto;
}

.icon-wrapper .textIcon {
    margin-top: 1em;
    font-size: .75rem;
    text-align: justify;
}

@include mixins.desktop {
    .sectionIcon {
     
    }

    .icon-wrapper .icons {
        height: auto;
    }

.icon-wrapper .textIcon {
   
    font-size: .60rem;
   
}
    .numberIcon {
        font-weight: bold;
        font-size: 1.3em;
        letter-spacing: 1px;
        padding: .4em;
        color: $primary;
    }
}