@use "../utils/variables" as *;
@use "../utils/mixins";

.modal-content{
    display: block;
    p{
        margin-block: auto;
        line-height: 16px;

        .contact-link{
            color: $primary-light;
            font-size: .7em;
        }
    }
}

.modal-overlay {
    display: flex;
    z-index: 101;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $heightModal;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.modal {
    // background-color: $primary;
    background-color: #0d45a5c0;
    width: 100%;
    height: auto;
    text-align: center;
}

.close-button-modal {
    transform: scale(1);
    cursor: pointer;
    position: absolute;
    right: 1.2em;
    border: none;
    color: $primary-light;
    background-color: #ffffff00;

}

