@use "../utils/variables" as *;
@use "../utils/mixins";

.modal-content{
    p{
        font-size: 16px;
    }
}

.modal-overlay {
    display: flex;
    z-index: 101;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $heightModal;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.modal {
    padding: .1em; 
    background-color: $primary;
    width: 100%;
    height: auto;
    text-align: center;
}

.close-button-modal {
    transform: scale(1);
    cursor: pointer;
    position: absolute;
    right: 1.2em;
    border: none;
    color: $primary-light;
    background-color: #ffffff00;

}

.contact-link {

    margin: 1em;
    font-size: .5em;
    color: $primary-light;
    /* Couleur du lien */
    text-decoration: none;
}
