@use "../utils/variables" as *;
@use "../utils/mixins";

.footer-section {
  position: fixed;
  font-weight: lighter;
  position: relative;
  width: 100%;
  height: auto;

}

.footer {
  position: relative;
  width: 100%;
  padding: 0% 5%;
  background-color: #1e55b3;
  color: #fff;
  text-align: center;
  padding-block: 1em;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 1.5rem;
}



.footer-title {
  font-size: .8rem;
  font-weight: 700;
  color: #fff;
  height: 1rem;
  margin-block-end: .5rem;
}



.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: .5rem;
}


.footer-links a {
  margin: 0;
  font-size: .7em;
  color: $primary-light;
  flex-basis: 25%;
  white-space: nowrap;
  text-decoration: none;
  transition: color 200ms ease-out;

  &:hover{
    color: $primary-light;
    text-decoration: underline;
  }
}

.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about {
  margin-bottom: 1em;
  address{
    color: #ffffffc7;
    margin-block-end: .5rem;
  }

  p{
    color: #ffffffc7;
    line-height: 1em;
    font-size: .8rem;
  }

  .footer-mail{
    font-size: .9rem;
    text-decoration: underline;
  }
}

.about a {
  color: inherit;
  /* change la couleur du texte */
  text-decoration: none;
  /* retire la soulignement */
}



.footer-social a {
  color: $primary-light;
  text-decoration: none;
}

.logo-meta {
  width: 2rem;
  height: 2rem;
}

.footer-bottom {
  background-color: $primary;
  text-align: center;
  font-size: .8rem;
}

.footer-bottom p {
  color: $primary-light;
  font-size: .8rem;
}

.plantitele {
  height: auto;
  padding: 0%;
}

@include mixins.desktop {
  .footer-content {
    height: 9em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  // .about {

  //   margin-bottom: 0%;
  //   }

}