@use "../utils/variables" as *;
@use "../utils/mixins";

.menu-toggle {
  position: relative;
  display: flex;
  margin-inline-end: $heightModal;
  z-index: 1;
  transform: scale(1.3);
  order: 1;

  button{
    span, span::before, span::after{
      background-color: $primary!important;
    }
  }

  &.opened{
    top: calc($heightModal + 10px);
    align-self: flex-start;
    order: inherit;
    span{
      background-color: transparent!important;
    }
  }
}

.menuWrapper {
  position: relative;
  z-index: 99;

}

.menuHeader {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding-block-start: $heightModal;
  margin: 0;
  width: 100%;
  height: auto;
  padding-inline: 2vw;
  gap: 2em;
  // background-color: #fff;
  transition: background-color 200ms ease;
  z-index: 9999;

  a{
    order: 3;
  }

  &.opened{
    padding-inline: 0;
    padding-left: 44px;
    background-color: rgba(255, 255, 255, 0.644);

    .buttonDarkMode{
      display: none;
    }

    .menulink a {
      color: $primary;
    }
  }

  &.active{
    background-color: rgba(255, 255, 255, 0.644);
    backdrop-filter: blur(1px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.095);

    a{
      color: $primary;
    }
  }

  &.linknotactive{
    a{
      color: $primary;
    }
  }

  a{
    position: relative;
    margin-right: auto;
    margin-block: 10px;
    font-weight: 500;
    transition: color 400ms ease;
    .logoHome{
      // position: absolute;
      display: block;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 5em;
      // height: 2em;
      object-fit: cover;
    }
    .hide-logo {
      display: none;
    }

  }
}


.menuHeader ul {
  list-style-type: none;
  padding-block: calc($heightModal * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menuHeader li {
   white-space: nowrap;

}

.menuHeader li:not(:last-child) {
  margin-bottom: 1em;
}

.menulink:hover {
  // background-color: $primary-light;
  background-color: rgba(255, 255, 255, 0.87);
  transition: ease-in-out 0.4s all;

  a{
    color: $primary;
  }
}

.menulink a {
  position: relative;
  font-size: 1.2em;
  font-weight: 700;
  // color: $primary;
  color: $primary-light;
  // text-shadow: 0 0 1px rgba(0, 0, 0, 0.438);
  text-decoration: none;
  z-index: 9999;
}


@include mixins.tablet {

  // .logoHome {
  //   top: 4em;
  //   transform: scale(3);
  //   left: 3em;
  // }
}

@include mixins.desktop {
  .menu-toggle {
    display: none;
  }

  .menuHeader {
    height: 115px;
    gap: 0;
    justify-content: flex-end;

    a{
      order: 3;
    }

    li:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .menuHeader ul {
    padding-top: 0;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0;
    gap: 2vw;
    // margin-inline-end: 5em;
    order: 2;
  }

  .menuHeader .menulink {
    margin-top: .6em;
    padding: 1em;
    margin-right: .1em;
    transition: ease-in-out 0.4s all;
  }
  .menulink {
    font-size: .6em;
    min-width: 1em;
    border-radius: 3px;

    a{
      font-size: 1.5em;
    }
 }

}
