@use "../utils/variables" as *;
@use "../utils/mixins";

.menu-toggle {
  align-self: end;
  position: relative;
  display: flex;
  z-index: 1;
  margin-top: 1.9em;
  right: 1em;
  transform: scale(1.3);
}

.menuWrapper {
  position: relative;
  z-index: 99;

}

.menuHeader {
  left: 0%;
  margin: 0%;
  padding: 2%;
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  height: auto;
  background-color: $primary-light;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.menuHeader ul {
  list-style-type: none;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.menuHeader li {
  margin: 0.5rem;
}

.menuHeader li:not(:last-child) {
  margin-bottom: .5em;
}

.menulink:hover {
  background-color: $primary-light;
  transition: ease-in-out 0.4s all;
}

.menulink a {
  font-size: 1.5em;
  color: $primary;
  text-decoration: none;
}

.logoHome {
  position: absolute;
  top: 3em;
  left: 8%;
  height: auto;
  width: 2em;
  transform: scale(1.5);
}

@include mixins.tablet {
  .menuHeader {
    padding: 2%;
  }

  .logoHome {
    top: 4em;
    transform: scale(3);
    left: 3em;

  }
}

@include mixins.desktop {
  .menu-toggle {
    display: none;
  }

  .logoHome {
    top: 2em;
    transform: scale(1.5);
    left: 4em;

  }

  .menuHeader {


    padding: 0.8%;
    z-index: 99;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  .menuHeader ul {
    padding-top: 0;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 0;
  }

  .menuHeader .menulink {
    margin-top: 1.6em;
    padding: 0.7rem;
    margin-right: 10px;
    transition: ease-in-out 0.4s all;
  }

  .menulink a {
    font-size: .8em;
  }
}