@use "../utils/variables" as *;
@use "../utils/mixins";
@use "../base/fonts";
@use "../base/normalize";

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--primary-light);
  color: var(--primary);
  transition: background-color 0.3s, color 0.3s;
  height: 100vh;
  height: 100lvh;
}

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
  flex: 1;
}

/* Base */
h1,
h2,
h3,
p {
  text-align: center;
}

h1 {
  font-size: 24px; /* Correspond à environ 1.5em */
  font-weight: 500; /* Poids semi-gras */
}

h2 {
  font-size: 20px; /* Correspond à environ 1.25em */
  font-weight: 500; /* Poids semi-gras */
}

h3 {
  font-size: 16px; /* Correspond à environ 1em */
  font-weight: 500; /* Poids semi-gras */
}

p {
  letter-spacing: .06em;
  font-size: 13px; /* Correspond à environ 0.8125em */
  font-weight: 400; /* Poids normal */
}

/* Requêtes media pour les tablettes */
@media screen and (max-width: 768px) {
  $rond-size: 400vh;
  h1 {
    font-size: 22px; /* Correspond à 1.375em */
  }

  h2 {
    font-size: 18px; /* Correspond à 1.125em */
  }

  h3 {
    font-size: 14px; /* Correspond à 0.875em */
  }

  p {
    font-size: 12px; /* Correspond à 0.75em */
  }
}

/* Requêtes media pour les écrans de bureau */
@media screen and (min-width: 769px) {
  h1 {
    font-size: 30px; /* Correspond à environ 1.875em */
  }

  h2 {
    font-size: 24px; /* Correspond à 1.2em */
  }

  h3 {
    font-size: 20px; /* Correspond à 1.125em */
  }

  p {
    font-size: 14px; /* Correspond à 0.875em */
  }
}


::placeholder{
  color: rgb(188, 188, 188);
  font-size: small;
}