/// hauter header 

$heightNav: 120px;
$heightModal: 1em;

$primary: #1e55b3;
$primary-light: #fff;
$primary-dark: #1a2a44d8;



$primary-lighter: #1e55b36a;
$secondary: #ffffff;
$secondary-light: #f6f5f3;
$light: #ffffff;


