/// hauter header 

$heightNav: 150px;
$heightModal: 1em;
$rond-size: 310px;
$carouselStart: 65px;
$primary: #1e55b3;
$primary-light: #fff;
$primary-dark: #1a2a44d8;



$primary-lighter: #1e55b36a;
$secondary: #ffffff;
$secondary-light: #f6f5f3;
$light: #ffffff;


