@use "../utils/variables" as *;
@use "../utils/mixins";

.from-section {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
  height: auto;
  max-width: 40em;
  padding-inline: 5vw;
  margin-block-start: calc($heightNav + 2em);
  margin-block-end: 4em;
  gap: 2em;

  
  .header-contact {

    .section-logo {
      display: flex;
      justify-content: center;
      align-items: center;

        .logo-header {
          width: 8rem;
          height: auto;
        }
    }
  
    .title-header {
      color: $primary;
    }

    .text-header {
      letter-spacing: 0.9px;
      bottom: 10px;
    }
  }

  .contact-form {
    width: 100%;
    height: auto;

    .selectName {
      display: flex;
      flex-direction: row;
      column-gap: 1em;
    }
    
    .form-group{
      flex: 1;

        .form-label {

        color: $primary;
        }

        .form-lastname,
        .form-name {
        width: 100%;
        padding: .3rem;
        margin-bottom: 10px;
        border: 1px solid #1e55b349;
        }


        /* Exemple de style pour les étiquettes */
        label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
        }


        .common-input {
        display: block;
        width: 100%;
        padding: .3rem;
        margin-bottom: 10px;
        border: 1px solid #1e55b349;
        box-sizing: border-box;
        }
    }


    .consent-checkbox {
      display: flex;
      text-align: start;
      font-size: .4em;
      label {
        padding: 1em;
        font-size: .6rem;
      }
    }

    .submit-button {
      // padding: 3% 15% 3% 15%
      padding: .5em 2em;
      border: none;
      background-color: $primary;
      color: $primary-light;
      cursor: pointer;
    
    }
    
    .submit-button:hover {
      background-color: $primary-light;
      color: $primary;
      opacity: 1;
    
    }
  }

  .consent-text {
    margin: 3em;
    font-size: .3em;
    p a{

      color: $primary;
    }
  }
}



.error-message {
  color: red;
  margin-bottom: 10px;
}


.requis {
  margin-left: .5rem;
  color: rgba(0, 0, 0, 0.542);
  font-size: small;
}




@include mixins.tablet {



}



@include mixins.desktop {
  .main-content-desktop {

    padding: 0 23em 0 23em;


  }

  .main-content-desktop p {
    text-align: center;
    font-size: 1.7em;

  }


  .sectionTexteLieu {

    padding: 3em 20em 5em 20em;
  }


}