@use "../utils/variables" as *;
@use "../utils/mixins";

.from-section {
  position: relative;
  width: 100vw;
  height: auto;
  max-width: 40em;
  padding-inline: 5vw;
  padding-block-start: $heightNav;
}

.section-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-header {
  width: 8rem;
  height: auto;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.header-contact {
  margin: 15% 0 10% 0;
}

.title-header {
  color: $primary;
}

.text-header {
  padding: 3%;
  letter-spacing: 0.9px;

  margin: 1%;

  bottom: 10px;
}

.requis {
  margin-left: .5rem;
  color: rgba(0, 0, 0, 0.243);
  font-size: small;
}

.selectName {
  display: flex;
  flex-direction: row;
  column-gap: 1em;

  .form-group{
    flex: 1;
  }
}

.form-label {

  color: $primary;
}

.form-lastname,
.form-name {
  width: 100%;
  padding: .3rem;
  margin-bottom: 10px;
  border: 1px solid #1e55b349;
}


.contact-form {
  width: 100%;
  height: auto;
}

/* Exemple de style pour les étiquettes */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}


.common-input {
  display: block;
  width: 100%;
  padding: .3rem;
  margin-bottom: 10px;
  border: 1px solid #1e55b349;
  box-sizing: border-box;
}

.submit-button {
  // padding: 3% 15% 3% 15%
  padding: .5em 2em;
  border: none;
  background-color: $primary;
  color: $primary-light;
  cursor: pointer;

}

.submit-button:hover {
  background-color: $primary-light;
  color: $primary;
  opacity: 1;

}

.consent-checkbox {
  display: flex;
  text-align: start;
  font-size: .4em;
}

.consent-checkbox label {
  padding: 1em;
  font-size: .6rem;
}

.consent-text {
  margin: 3em;
  font-size: .3em;
}

@include mixins.tablet {

  .from-section {
    margin: 1%;
    // padding: 5% 10% 10% 10%;
  }



}



@include mixins.desktop {
  .main-content-desktop {

    padding: 0 23em 0 23em;


  }

  .main-content-desktop p {
    text-align: center;
    font-size: 1.7em;

  }

  .from-section {
    margin: 3%;
    // padding: 3% 35% 10% 35%;
    margin-left: auto;
    /* Pour centrer l'élément horizontalement */
    margin-right: auto;
    /* Pour centrer l'élément horizontalement */
  }

  .sectionTexteLieu {

    padding: 3em 20em 5em 20em;
  }

  .header-contact {

    padding: 0;
  }

}