@use "../utils/variables" as *;
@use "../utils/mixins";


.container-map {
   
   
    margin-top: 10em;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;

}
summary::after {
  
    float:inline-end;
    margin-left: 1em;
    
}

details[open] summary::before {
    content: '';
}
details > * {
    transition: opacity 0.2s ease;
}
.instructions, iframe {
    min-width: 40%;
    min-height: 40%;
}


.container-map  h1{

font-weight: bold;

}
.custom-header {

    color: $primary;
    font-size: 1.4em;
    background-color: $primary-light;

    text-align: center;
}
iframe {
    width: 80%; 
    height: 450px; 
    flex-shrink: 0; 
}

.custom-main {
  
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
}

.instructions {
    color: #1e55b3;
    text-align: center;

}

.text_footer p {

    padding-bottom: 2em;
}
.instructions li {

    margin: 2em;
}
.instructions h2 {
    padding: 1em;

}

a{
text-decoration: none;

}
.text_footer p {
    margin: 0 20% 0 20%;
    text-align: center;

}

/* Styles responsives */
@include mixins.desktop {
    iframe {
        width: 50%; 
        height: 500px; 
        flex-shrink: 0; 
    }
    .container-map {
  
        margin-top: 10em;
        height: auto;
    }
    .custom-main{
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
     
        align-content: space-around;
        justify-content: space-around;
     width: 100%;
     max-width: 100em;
 height: 53vh;
    }
    .custom-header {
        padding: 1rem;
        background-color: #fff;
        color: #1e55b3;
        font-size: 1.6em;
        text-align: center;
    }



    .instructions {
   
        padding-right: 4rem;
        margin-bottom: 5em;
    }
    .text_footer{

        margin: 8em 0 5em 0;
    }

}