@use "../utils/variables" as *;
@use "../utils/mixins";


.container-map {


    margin-top: 10em;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;

}

summary::after {

    float: inline-end;
    margin-left: 1em;

}

details[open] summary::before {
    content: '';
}

details>* {
    transition: opacity 0.2s ease;
}

.instructions,
iframe {}


.container-map h1 {
text-emphasis: none;
   margin: 0;

}

.custom-header {

    color: $primary;
    font-size: 1.4em;
    background-color: $primary-light;

    text-align: center;
}

.iframe {
   
    max-width: 100%;
  
}

.custom-main {
    display: flex;
    padding: 1rem;
    flex-direction: column;

    align-items: center;
    flex-grow: 1;



.instructions {
    color: #1e55b3;
    margin-top: auto;
    text-align: left;

    li {
        display: flex;
        padding-left: 1.4em;
        font-size: 1.2em;
        cursor: pointer;
        margin: .5em;
        padding: .3em;
        padding-left: 2rem;
        list-style-position: inside;
       
        align-items: center;
        img{
margin-right: 1em;
width: 2em;
         
        }
    }

    h2 {
        padding: 1em;
    }

}}

.lieuxDeProximite {

    width: 100%;
    background-color: #1e55b313;
   

    h2 {

        color: $primary;
        font-size: 500;
    }

    .flex-containerProximite {
        margin-top: 4em;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 1em;

        h2 {

            color: $primary;

        }

        .section_commerce, 
        .section_restauration {
            ul {
                text-align: start;
        margin: 1em;
                .liste_commerces,
                .liste_restaurants {
                    text-align: left;
                    margin: 1em;
                    text-wrap: balance;
                }


            }

        }
        
    }
}






a {
    text-decoration: none;

}

.text_footer p {
    margin: 0 20% 0 20%;
    text-align: center;

}

@include mixins.tablet {



    .custom-main {}
}

/* Styles responsives */
@include mixins.desktop {
    .iframe {
        width: 50%;
      height: 50%;
        flex-shrink: 0;
    }

    .container-map {

        margin-top: 10em;
        height: auto;
    }

    .custom-main {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;

        width: 100%;
        max-width: 100em;

    }

    .custom-header {
        padding: 1rem;
        background-color: #fff;
        color: #1e55b3;
        font-size: 1.6em;
        text-align: center;
    }

    .instructions,
    iframe {
        // width: 50%;
        min-height: 30em;
        min-width: 30em;
    }

    .instructions {
        display:grid;
        flex-direction: center;
        justify-content: center;
width: 50%;
        padding-right: 4rem;
     
    }

    .text_footer {

        margin: 8em 0 5em 0;
    }

}